<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" type = "text/css" href="/assets/stylesheets/commonStyle.css">
  </head>
  <body>
    <% include partial/header.ejs %>
    <% include partial/nav.ejs %>
    <main>

      <h3>This is a site that will give you information about all the events happening across Charlotte.
        Connect you with people interested in the same event.
      </h3>

    </main>
    <% include partial/footer.ejs %>

  </body>
</html>
