<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Charlotte Event Hub</title>
    <link rel="stylesheet" type = "text/css" href="/assets/stylesheets/commonStyle.css">
    <link rel="stylesheet" type = "text/css" href="/assets/stylesheets/indexStyle.css">
  </head>

  <body>

    <% include partial/header.ejs %>
    <% include partial/nav.ejs %>

    <main>
      <section>
        <h2 class = "h2">Welcome to Charlotte Event Hub</h2>
        <p class="para1">Charlotte Event Hub keeps track of all events happening across Charlotte.
        Be it a recreational one to help you relax,
        an informative one which will increase your knowledge wealth
        and give you a tremendous experience or one for the people where you can join as a volunteer
        and help in the success of that event. We have got it covered for you.
        Come be a part of the Charlotte Event Hub Family and meet new people
        and know whats going around in the town.</p>
      </section>

      <div class="flex-container2">
        <div><img src="/assets/images/9_ball.png" alt="9ball" class="Homeimage1"></div>
        <div></div>
        <div></div>
        <div><img src="/assets/images/sullySullenburger.jpg" alt="sully" class="Homeimage1"></div>
        <div></div>
        <div></div>
        <div><img src="/assets/images/blood_drive.jpg" alt="blood drive" class="Homeimage1"></div>
      </div>

    </main>

    <% include partial/footer.ejs %>

  </body>
</html>
