li{
  display: inline;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 3px solid black;
}

th{
  color: blue;
}

tr{
  width: auto;
  color:green;
}

.update{
  background-color: Green;
  color: Black;
  padding: 2px 6px 2px 6px;
  
}

.delete {

  background-color: Red;
  color: Black;
  padding: 2px 6px 2px 6px;
}
