<footer>
  <ul>
    <li class="liInFooter">CEH Ltd.</li>
    <li class="liInFooter"><a href="/about">About Us</a></li>
    <li class="liInFooter"><a href="/contact">Contact Us</a></li>
  </ul>
</footer>
